{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title }}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        {% for product in products %}
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top"
                         src="{% static 'vendor/img/products/Dark-blue-wide-leg-ASOs-DESIGN-trousers.png' %}"
                         alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ product.name }}</a>
                    </h4>
                    <h5>{{ product.price }}</h5>
                    <p class="card-text">Легкая эластичная ткань сирсакер Фактурная ткань.</p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
                </div>
            </div>
            </div>
        {% endfor %}
</div>


{#    <h1>{{ description }}</h1>#}
{#    <p>{{ user }}</p>#}
{#    {% for product in products%}#}
{#        <h5>{{ product.name }}</h5><br>#}
{#        <p>{{ product.price }}</p><br>#}
{#    {% endfor %}#}
{#    {% if promotion %}#}
{#        {% for product in products_of_promotion%}#}
{#            <h5 style="color: red">{{ product.name }}</h5><br>#}
{#            <p>{{ product.price }}</p><br>#}
{#        {% endfor %}#}
{#    {% endif %}#}
</body>
</html>